body {
    margin: 0;
    padding: 0;
    background-color: blue;
    font-size: 1rem;
}

#page-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: aqua;
}

#page-flex > .other-box:hover {
    background-color: brown;
}

#dropdown {
    display: none;
}

#page-flex > .other-box:hover > #dropdown {
    display: block;
}