body {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 112);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1rem;
    color: rgb(178, 209, 237);
}


#page-flex {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /*margin: top/ right/ bottom/ left*/
}

/*#camera-viewer {
    width: 500px;
    height: 400px;
    border: 2px solid black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}*/

video {
    width: 35%;
    height: 35%;
    object-fit: cover;
    position: fixed;
    top: 0;
    margin-left: 35%;
    z-index: 0;
    top: 25vh;
}

@media (max-width: 800px) {
    h1 {
        color: blue;
    }
}

#weird-filter {
    display: block;
    background-color: none;
    background-image: url(../images/weird-filter-2.gif);
    mix-blend-mode: overlay;
    z-index: 2;
    width: 35%;
    height: 35%;
    object-fit: cover;
    position: fixed;
    top: 0;
    margin-left: 35%;
    top: 25vh;
}
